{% extends "socialaccount/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

    <div class="auth">
       <div class="card">
            <div class="auth__header text-center">
                <a href="{% url 'users:users_profiles' %}">
                    <img src="{% static 'img/icon.svg' %}" alt="icon" />
                </a>
                <h1>{% trans "Sign Up" %}</h1>
            </div>
            <p>
            {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
            You are about to use your {{provider_name}} account to login to
            {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
            </p>

            <form class="form auth__form" method="post" action="{% url 'socialaccount_signup' %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form__field">
                        <label for="formInput#text">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value={% trans "Sign Up" %} &raquo; />
                </div>
            </form>
        </div>
    </div>
{% endblock content %}