{% extends 'account/base.html' %}
{% load socialaccount %}
{% load static %}

{% block head_title %}Login{% endblock head_title %}

{% block content %}
    <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="{% url 'users:users_profiles' %}">
            <img src="{% static 'img/icon.svg' %}" alt="icon" />
          </a>
          <h3>Account Login</h3>
          <p>Hello Developer, Welcome Back!</p>
        </div>

        <form class="form auth__form"method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
                <a href="{% url 'account_reset_password' %}">Forget Password?</a>
            </div>
        </form>
        <div class="text-center">
          <p>Not a member? <a href="{% url 'account_signup' %}">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
      
          <a href="{% provider_login_url 'google' %}" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </a>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
      
          <a href="{% provider_login_url 'google' %}"class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>

{% endblock content %}


