{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}

    <div class="auth">
        <div class="card">
            <div class="auth__header text-center" style="padding-top: 60px;">
            <a href="{% url 'users:users_profiles' %}">
                <img src="{% static 'img/icon.svg' %}" alt="icon" />
            </a>
            <h3>{% trans "Password Reset" %}</h3>
            <p>
                {% blocktrans %}We have sent you an e-mail. If you have not received it
                please check your spam folder. Otherwise contact us if you do not
                receive it in a few minutes.{% endblocktrans %}
            </p>
            </div>
        </div>
    </div>

{% endblock content %}
