{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="auth">
      <div class="card">
        <div class="auth__header text-center" style="padding-top: 60px;">
          <a href="{% url 'users:users_profiles' %}">
            <img src="{% static 'img/icon.svg' %}" alt="icon" />
          </a>
          <h3>Forgot Password?</h3>
          <p>Reset password by entering the email address</p>
        </div>

        <form method="POST" action="{% url 'account_reset_password' %}" class="form auth__form">
          {% csrf_token %}
          <!-- Input:Email -->
          <div class="form__field">
            <label for="formInput#email">Email Address: </label>
            <input
              class="input input--email"
              id="formInput#email"
              type="email"
              name="email"
              placeholder="e.g. user@domain.com"
            />
          </div>

          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Send Instructions" />
            <a href="{% url 'account_login' %}">Login</a>
          </div>
        </form>
        <div class="auth__alternative text-center">
          <p>Don’t have an Account?</p>
          <a href="{% url 'account_signup' %}">Sign Up</a>
        </div>
      </div>
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="text-center form-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="text-center form-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}
    </div>

{% endblock content %}

