{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
    <div class="auth">
        <div class="card">
            <div class="auth__header text-center">
                <a href="{% url 'users:users_profiles' %}">
                    <img src="{% static 'img/icon.svg' %}" alt="icon" />
                </a>
                <h3>{% trans "Change Password" %}</h3>
                <p>{% trans 'Your password is now changed.' %}. You can
                    <a href="{% url 'account_login' %}">Login</a> now.
                </p>
            </div>
        </div>
    </div>


{% endblock %}