{% extends '_base.html' %}

{% block title %}User Account{% endblock title %}

{% block content %}

  <!-- Main Section -->
  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'users:user_account_edit' %}">
                <i class="im im-edit"></i> Edit
              </a>
              <img class="avatar avatar--xl dev__avatar" src="{{ profile.imageURL }}" />
              <h2 class="dev__name">{{ profile.user.name|title }}</h2>
              <p class="dev__title">{{ profile.headline }}</p>
              <p class="dev__location">Based in {{ profile.location }}</p>
              <ul class="dev__social">
                {% if profile.social_github %}
                  <li>
                    <a title="Github" href="{{ profile.social_github }}" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
                  </li>
                {% endif %}
                {% if profile.social_youtube %}
                  <li>
                    <a title="Youtube" href="{{ profile.social_youtube }}" target="_blank"><i class="fa-brands fa-youtube fa-2x"></i></a>
                  </li>
                {% endif %}
                {% if profile.social_twitter %}
                  <li>
                    <a title="Twitter" href="{{ profile.social_twitter }}" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a>
                  </li>
                {% endif %}
                {% if profile.social_linkedin %}
                  <li>
                    <a title="LinkedIn" href="{{ profile.social_linkedin }}" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                  </li>
                {% endif %}
                {% if profile.social_website %}
                  <li>
                    <a title="Personal Website" href="{{ profile.social_website }}" target="_blank"><i class="fa-solid fa-globe fa-2x"></i></a>
                  </li>
                {% endif %}
              </ul>
              <a href="#" class="btn btn--sub btn--lg">Send Message </a>
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">
              {{ profile.bio|linebreaks }}
            </p>
          </div>
          <div class="settings">
            <h3 class="settings__title">Skills</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'users:skill_create' %}">
              <i class="fa-sharp fa-solid fa-plus"></i> Add Skill
            </a>
          </div>

          <table class="settings__table">
            {% for skill in profile.skills.all %}
              <tr>
                <td class="settings__tableInfo">
                  <h4>{{ skill.name|title }}</h4>
                  <p>
                    {{ skill.description|linebreaks|truncatewords:100 }}
                  </p>
                </td>
                <td class="settings__tableActions">
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'users:skill_update' skill.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'users:skill_delete' skill.id %}"><i class="fa-solid fa-circle-xmark"></i>
                    Delete</a>
                </td>
              </tr>
            {% endfor %}
          </table>

          <div class="settings">
            <h3 class="settings__title">Projects</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'projects:project_create' %}"><i class="fa-sharp fa-solid fa-plus"></i> Add Project</a>
          </div>

          <table class="settings__table">
          {% for project in profile.projects.all %}
            <tr>
              <td class="settings__thumbnail">
                <a href="single-project.html"><img src="{{ project.imageURL }}" alt="Project Thumbnail" /></a>
              </td>
              <td class="settings__tableInfo">
                <a href="single-project.html">{{ project.headline|title }}</a>
                <p>
                  {{ project.description|linebreaks|truncatewords:50 }}
                </p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'projects:project_update' project.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'projects:project_delete' project.id %}"><i class="im im-x-mark-circle-o"></i>
                  Delete</a>
              </td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </main> 

{% endblock content %}